<!DOCTYPE html>
<html>
<head>
  <title>NirdExampleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag "nird_logo_centered.png" %>
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign in", new_user_session_path %></li>
    </ul>
  </div>
</nav>
<%= yield %>
</body>
</html>
